[submodule "src/dep/genpatched-linux"]
	path = src/dep/genpatched-linux
	url = https://github.com/NobodyXu/genpatched-linux
[submodule "src/dep/busybox"]
	path = src/dep/busybox
	url = https://git.busybox.net/busybox/
[submodule "src/dep/musl"]
	path = src/dep/musl
	url = git://git.musl-libc.org/musl
[submodule "src/dep/linux-pam"]
	path = src/dep/linux-pam
	url = https://github.com/linux-pam/linux-pam.git
